
    .beatles {
        background: #FCC;
    }

    .stones {
         background: #CFC;
     }

    .who {
        background: #CCF;
    }

    .band {
        width:200px;
        height: 30px;
    }